name: Build for Linux x86_64

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest  # 默认是 x86_64 Ubuntu
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build with PyInstaller
        run: |
          pyinstaller \
            --onefile \
            --windowed \
            --name "XiYangYangTool" ^
            --icon "favicon.ico" ^
            --add-data "poppler;poppler" ^
            --clean ^
            main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF2JPG-Linux-x86_64
          path: dist/PDF转JPG工具